<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ app.url_for('static', filename='lit.css') }}">
    <link rel="stylesheet" href="{{ app.url_for('static', filename='lit_utils.css') }}">
    <link rel="stylesheet" href="{{ app.url_for('static', filename='style.css') }}">
    <title>Cebulo Boy</title>
</head>
<body>
<header class="tc">
    <h1 class="mt2 bold">Cebulo Boy</h1>
</header>
<div>
    <div class="row">
        {% for shop in shops %}
            <div class="card col">
                <h2>{{ shop.name }}</h2>
                <table>
                    <thead>
                    <tr>
                        <th class="tc">Produkt</th>
                        <th class="tc">Pierwotna cena</th>
                        <th class="tc">Obniżona cena</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for promotion in shop.last_promotions %}
                        <tr>
                            <td>
                                <a href="{{ promotion.url }}" target="_blank">{{ promotion.product_name }}</a>
                                {% if promotion.code %}
                                    <code>{{ promotion.code }}</code>
                                {% endif %}
                            </td>
                            <td>{{ promotion.old_price }}zł</td>
                            <td>{{ promotion.new_price }}zł</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
</div>
</body>
</html>